<p id="notice"><%= notice %></p>

<h1>Listing Questionnaires</h1>

<%= form_tag(new_questionnaire_path, method: 'get') do %>
  <p>
    Choose number of questions<br>
    <%= select_tag(:num_questions, options_for_select(1..10)) %>
  </p>
  <p>
    Choose number of possibe answers<br>
    <%= select_tag(:num_answers, options_for_select(1..5)) %>
  </p>
  <%= submit_tag "Create Questionnaire" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
    <tr>
      <td><%= questionnaire.name %></td>
      <td><%= link_to 'Show', questionnaire %></td>
      <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire) %></td>
      <td><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
